.Game .alias {
  font-size: 2em;
  margin: 0.3em;
  text-align: center;
}

.Game .check {
  display: flex;
  align-items: center;
}

.Game .check .check-input {
  margin-right: 1em;
  flex: 3;
}

.Game .check .wgButton {
  flex: 1;
}

.Game .form {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
