.App {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 3em;
  padding-right: 3em;

  color: #5a6174;
  background-color: #faf8f2;
}

.wgInput {
  border: none;
  background-color: transparent;
  font-size: 2em;
  color: #5a6174;
  border-bottom: 0.1em solid #5a6174;
}

.wgInput:focus {
  outline: none;
}

.wgButton {
  margin: 1em 0em;
  padding: 2em 5em;
  border-radius: 0.3em;
  color: #faf8f2;
  background-color: #5a6174;
  text-align: center;
}
